<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HVC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>631B23B71C6CBA28005FFF20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>631B23CB1C6CBA28005FFF20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>631B23D61C6CBA28005FFF20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
